doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby Registration
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous')
  link(rel='stylesheet' href='/public/css/style.css')
.container-fluid
  #main.form
    .card-body.m-auto.w-50
      form(action='/baby-register' method='POST')
        h1(style='text-align: center;') Baby Registration
        .mb-4
          label(for='name') Name
          input.form-control(type='text' name='fullName' aria-label='name')
        .mb-4
          label(for='age') Age
          input.form-control(type='number' name='age' aria-label='age')
        .mb-4
          label(for='location') Location
          input.form-control(type='text' name='location' aria-label='location')
        .mb-4
          label(for='guardian') Guardian
          input.form-control(type='text' name='guardian' aria-label='guardian')
        .mb-4
          label(for='parentsName') Parents Name
          input.form-control(type='text' name='parentsName' aria-label='parentsName')
        .mb-4
          label(for='periodOfStay') Period of Stay
          input.form-control(type='text' name='periodOfStay' aria-label='periodOfStay')
        .mb-4
          label(for='fees') Fee
          input.form-control(type='text' name='fee' aria-label='fee')
        .mb-4
          label(for='babyNumber') Baby Number
          input.form-control(type='text' name='babyNumber' aria-label='babyNumber')
        .mb-4
          label(for='time') Time of arrival
          input.form-control(type='datetime-local' name='timeOfArrival' aria-label='timeOfArrival')
        .mb-4
          label(for='gender') Gender:
          select(name='gender' type='text')
            option(value='male') Male
            option(value='female') Female
        .mb-4.col-auto(style='text-align: center;')
          button.btn.btn-primary.mb-3(type='submit') Register
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4' crossorigin='anonymous')
