doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Adminstration Form
form(action='/adminstrator' method='POST')
  h3.admin WELCOME

  
  .mb-3
    input(type='email' name='email' placeholder='Enter email' required='')
  .mb-3
    input(type='password' name='password' placeholder='Enter Password' required='')
  .mb-3
    input(type='select' name='role' value='admin' placeholder='Enter role' required='')
  .mb-3
    button.bs-success(type='submit') Register
